.remove-button {
	font-size: 50px;
	opacity: 0.7;
	border: solid 2px;
	line-height: 0;
	border-radius: 10px;
	padding: 5px;
	margin: 5px 20px 5px 0;
	background: none;
	color: inherit;
}

.remove-button:focus {
	outline: none;
}

.remove-button .loading-indicator {
	font-size: 20px;
	padding: 5px 0;
}

.remove-button .fa-times-circle {
	color: #d63031;
}

.remove-button .fa-check-circle {
	color: #00b894;
}

.remove-button .time-picker {
	visibility: hidden;
}