.main-panel {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	flex-grow: 1;
	flex-basis: auto;
	position: relative;
}

.main-panel.feeding {
	background-color: #dfe6e9;
}

.main-panel.poop {
	background-color: #fab1a0;
}

.main-panel.pee {
	background-color: #ffeaa7;
}

.main-panel .background-icon {
	position: absolute;
	font-size: 150px;
	opacity: 0.1;
	color: #2d3436;
	bottom: 0px;
	left: 20px;
}

.main-panel .info {
	flex-grow: 1;
	margin: 0 20px;
}

.main-panel .log-button {
	font-size: 50px;
	opacity: 0.5;
	border: solid 2px;
	line-height: 0;
	border-radius: 10px;
	padding: 5px;
	margin-right: 20px;
}
