.main-panel {
	width: 100%;
	flex-grow: 1;
	flex-basis: auto;
}

.main-panel.feeding {
	background-color: #dfe6e9;
}

.main-panel.poop {
	background-color: #fab1a0;
}

.main-panel.pee {
	background-color: #ffeaa7;
}
